---
import { cn } from "../../lib/cn";
import { getCollection } from "astro:content";

export interface Props {
  title: string;
  date: string;
  image: string;
  excerpt: string;
  slug: string;
  is_first?: boolean;
  tags: string[];
}
const {
  title,
  date,
  image,
  excerpt,
  slug,
  is_first = false,
  tags,
} = Astro.props as Props;

const allTags = await getCollection("tags");

const findTag = (tags: string[]) => {
  return tags.map((tag) => allTags.find((t) => t.slug === tag));
};
---

<div
  class={cn(
    "flex rounded-3xl bg-white shadow-xl w-full h-full border border-primary/20 relative transition-transform duration-300 hover:scale-102",
    is_first && "border-tertiary h-[540px]"
  )}
>
  <a href={`/articles/${slug}`} class="w-full p-5">
    {
      is_first && (
        <div class="absolute top-2 left-2 bg-secondary text-white px-4 py-1 rounded-full text-sm font-bold shadow-lg z-10">
          À LA UNE
        </div>
      )
    }

    <div class="w-full flex flex-col h-full">
      <img
        src={image}
        alt="Image de l'article"
        class={cn(
          "object-cover w-full h-48 overflow-hidden rounded-2xl mb-4 border border-primary/20",
          is_first ? "border-tertiary/10 h-52" : "border-primary/10"
        )}
      />

      <div class="text-sm text-black mb-3 font-bold">{date}</div>

      <div class="flex flex-wrap gap-2 mb-4">
        {
          findTag(tags).map((tag) => (
            <span class="text-secondary py-1.5 px-3 rounded-full text-xs font-bold border-2 border-secondary">
              {tag?.data.title}
            </span>
          ))
        }
      </div>
      <h3
        class={cn(
          "text-2xl font-bold mb-3",
          is_first ? "text-tertiary" : "text-primary"
        )}
      >
        {title}
      </h3>

      <p class="text-gray-700 leading-relaxed line-clamp-4 mb-6">
        {excerpt}
      </p>

      <div class="flex justify-end mt-auto">
        <span
          class={cn("font-bold", is_first ? "text-tertiary" : "text-primary")}
        >
          Lire l&apos;article →
        </span>
      </div>
    </div>
  </a>
</div>
