---
import type { Locale } from "@/lib/i18n";
import { cn } from "../../lib/utils";
import { Image } from "astro:assets";
import type { Tag } from "@/lib/sanity";

export interface Props {
  title: string;
  date: string;
  image: string;
  excerpt: string;
  slug: string;
  is_first?: boolean;
  tags: Tag[];
  locale?: Locale;
}
const {
  title,
  date,
  image,
  excerpt,
  slug,
  is_first = false,
  tags,
  locale = "fr",
} = Astro.props as Props;

const articlePath =
  locale === "fr" ? `/articles/${slug}` : `/en/articles/${slug}`;
---

<div
  id={slug}
  style="scroll-margin-top: 200px;"
  class={cn(
    "flex rounded-3xl bg-white shadow-xl w-full h-full border border-primary/20 relative transition-transform duration-300 hover:scale-102",
    is_first && "border-tertiary h-[540px]"
  )}
>
  <a href={articlePath} class="w-full p-5">
    {
      is_first && (
        <div class="absolute top-2 left-2 bg-secondary text-white px-4 py-1 rounded-full text-sm font-bold shadow-lg z-10">
          À LA UNE
        </div>
      )
    }

    <div class="w-full flex flex-col h-full">
      <Image
        src={image}
        alt={`Illustration de l'article ${title}`}
        loading="lazy"
        width={300}
        height={192}
        class={cn(
          "object-cover w-full h-48 overflow-hidden rounded-2xl mb-4 border border-primary/20",
          is_first ? "border-tertiary/10 lg:h-52" : "border-primary/10"
        )}
      />

      <div class="text-sm text-black mb-3 font-bold">{date}</div>

      <div class="flex flex-wrap gap-2 mb-4">
        {
          tags.map((tag) => (
            <span class="text-secondary py-1.5 px-3 rounded-full text-xs font-bold border-2 border-secondary">
              {tag.title[locale]}
            </span>
          ))
        }
      </div>
      <h3
        class={cn(
          "text-2xl font-bold mb-3 line-clamp-2",
          is_first ? "text-tertiary" : "text-primary"
        )}
      >
        {title}
      </h3>

      <p class="text-gray-700 leading-relaxed line-clamp-4 mb-6">
        {excerpt}
      </p>

      <div class="flex justify-end mt-auto">
        <span
          class={cn("font-bold", is_first ? "text-tertiary" : "text-primary")}
        >
          Lire l&apos;article →
        </span>
      </div>
    </div>
  </a>
</div>
