---
import { formatDate } from "@/lib/date";
import { urlFor, type Article } from "@/lib/sanity";
import { PortableText } from "astro-portabletext";
import ArrowLeft from "@/components/icons/ArrowLeft.astro";
import { getTranslations, type Locale } from "@/lib/i18n";
import { Image } from "astro:assets";
export interface Props {
  article: Article;
}

const currentLocale = (Astro.currentLocale || "fr") as Locale;
const t = getTranslations(currentLocale);
const { article } = Astro.props as Props;

const articlePath =
  currentLocale === "fr"
    ? `/articles/#${article.slug.fr.current}`
    : `/en/articles/#${article.slug.en.current}`;
---

<article class="max-w-6xl mx-auto px-6 py-20">
  <div class="mb-6 mt-4">
    <a
      href={articlePath}
      data-astro-reload
      class="inline-flex items-center text-sm gap-3 bg-primary text-white px-5 py-2 rounded-full font-semibold transition-all duration-300 transform hover:scale-[1.02] shadow-md"
    >
      <ArrowLeft class="text-white" size={12} />
      <span class="mt-0.5 text-bordered-light">{t.articles.backToArticles}</span
      >
    </a>
  </div>
  <div class="mb-8">
    <Image
      src={urlFor(article.image).width(1200).height(600).url()}
      alt={article.title[currentLocale]}
      class="w-full h-96 object-cover rounded-2xl shadow-lg"
      width={1200}
      height={600}
      loading="eager"
    />
  </div>

  <div class="mb-6">
    <time
      datetime={new Date(article.date).toISOString()}
      class="text-gray-600 text-lg font-medium"
    >
      {formatDate(new Date(article.date), currentLocale)}
    </time>
  </div>

  <h1 class="text-4xl md:text-5xl font-bold text-primary mb-8 leading-tight">
    {article.title[currentLocale]}
  </h1>

  <div class="flex flex-wrap gap-3 mb-8">
    {
      (article.tags || []).map((tag) => (
        <span class="bg-secondary/40 text-black py-2 px-4 rounded-full text-sm font-semibold shadow-sm">
          {tag.title[currentLocale]}
        </span>
      ))
    }
  </div>

  <div class="mb-12">
    <div
      class="text-xl text-gray-700 leading-relaxed font-medium bg-white p-5 lg:p-8 rounded-2xl shadow-sm border border-gray-100"
    >
      {article.intro[currentLocale]}
    </div>
  </div>

  <div
    class="prose prose-lg prose-a:text-blue-500 prose-a:font-bold prose-h1:text-primary prose-h1:font-bold prose-h2:text-primary prose-h3:text-primary prose-black max-w-none bg-white p-5 lg:p-8 rounded-2xl shadow-sm border border-gray-100"
  >
    <PortableText value={article.body[currentLocale]} />
  </div>
</article>
