---
import Hero from "@/components/Hero.astro";
import MembersCard from "@/components/members/MembersCard.astro";
import Layout from "@/layouts/Layout.astro";
import MembersImage from "@/assets/hero/members.jpg";
import { getAllMembers } from "@/lib/sanity-queries";
import { urlFor } from "@/lib/sanity";

const membres = await getAllMembers();

const honnorMembers = membres.filter((membre) => membre.isHonored);
const members = membres.filter((membre) => !membre.isHonored);
---

<Layout title="The Disciples">
  <div class="relative">
    <Hero picture={MembersImage} pictureAlt="The Disciples">
      <div class="relative z-20 text-center text-white px-4 max-w-4xl mx-auto">
        <h1 class="text-4xl md:text-7xl font-bold mb-6 text-bordered">
          The Disciples
        </h1>
        <h2
          class="text-2xl md:text-5xl font-bold mb-8 text-primary text-bordered"
        >
          Our Team
        </h2>
        <p
          class="text-xl md:text-2xl mb-8 max-w-3xl mx-auto leading-relaxed text-bordered"
        >
          Discover the team of Disciples d'Escoffier Provence Mediterranée,
          composed of members from all professions of gastronomy.
        </p>
      </div>
    </Hero>
    <section class="relative px-5 sm:px-10 bg-white py-1">
      <div class="max-w-6xl mx-auto">
        <div class="container mx-auto px-4">
          <h3
            class="text-3xl md:text-4xl font-bold text-center text-primary mt-12 mb-5"
          >
            Our President
          </h3>
          <hr class="w-24 h-1 bg-primary mx-auto rounded-full mb-12" />
          <div
            class="flex justify-center gap-x-4 gap-y-16 max-w-6xl mx-auto pb-16"
          >
            <MembersCard
              photo={"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqZdkatSs1kuSHjueaj6u6RMjIb23IzQImpQ&s"}
              color={"#d13429"}
              name={"Alain Laporte"}
              role={"President"}
              description={"Founder of the Disciples d'Escoffier Provence Méditerranée"}
              email={"alain.laporte@formactions.fr"}
              workplace={"Form'actions Consulting"}
              size="150px"
              locale="en"
            />
          </div>
        </div>
      </div>

      {
        honnorMembers.length > 0 && (
          <div class="max-w-6xl mx-auto">
            <div class="container mx-auto px-4">
              <h3 class="text-3xl md:text-4xl font-bold text-center text-tertiary-accessible mt-12 mb-5">
                Our Honorary Members
              </h3>
              <hr class="w-24 h-1 bg-tertiary-accessible mx-auto rounded-full mb-12" />
              <div class="flex justify-center">
                <div class="flex flex-wrap justify-center gap-x-4 gap-y-16 max-w-6xl mb-16">
                  {honnorMembers.map((membre) => (
                    <MembersCard
                      photo={urlFor(membre.image).width(150).height(150).url()}
                      color={membre.color}
                      name={membre.name}
                      role={membre.role.en}
                      description={membre.description.en}
                      email={membre.email}
                      workplace={membre.workplace}
                      locale="en"
                    />
                  ))}
                </div>
              </div>
            </div>
          </div>
        )
      }

      {
        members.length > 0 && (
          <div class="max-w-6xl mx-auto">
            <div class="container mx-auto px-4">
              <h3 class="text-3xl md:text-4xl font-bold text-center text-black mt-12 mb-5">
                Our Members
              </h3>
              <hr class="w-24 h-1 bg-black mx-auto rounded-full mb-12" />
              <div class="flex justify-center">
                <div class="flex flex-wrap justify-center gap-x-4 gap-y-16 max-w-6xl mb-16">
                  {members.map((membre) => (
                    <MembersCard
                      photo={urlFor(membre.image).width(150).height(150).url()}
                      color={membre.color}
                      name={membre.name}
                      role={membre.role.en}
                      description={membre.description.en}
                      email={membre.email}
                      workplace={membre.workplace}
                      locale="en"
                    />
                  ))}
                </div>
              </div>
            </div>
          </div>
        )
      }
    </section>
  </div>
</Layout>
