---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ArticleCard from "../components/articles/ArticleCard.astro";
import ArticleFilter from "../components/articles/ArticleFilter.astro";
import FacebookSection from "../components/articles/FacebookSection.astro";
import MobileFacebookSection from "../components/articles/MobileFacebookSection.astro";
import ArticlesImage from "../assets/hero/articles.png";
import { getCollection } from "astro:content";

function formatDate(dateString: Date) {
  const date = new Date(dateString);
  return date.toLocaleDateString("fr-FR", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
}

const articles = await getCollection("articles");
const settings = await getCollection("settings");

const featuredArticle = () => {
  const featuredArticle = articles.find(
    (article) => article.id === settings[0].data.slug
  );
  if (featuredArticle) {
    return featuredArticle;
  } else {
    return articles[0];
  }
};

const firstArticle = featuredArticle();
---

<Layout>
  <div class="relative">
    <Hero picture={ArticlesImage} pictureAlt="Articles">
      <div class="relative z-20 text-center text-white px-4 max-w-4xl mx-auto">
        <h1 class="text-5xl md:text-7xl font-bold mb-6">Articles</h1>
        <h2 class="text-3xl md:text-5xl font-light mb-8 text-primary">
          Notre Savoir-Faire
        </h2>
        <p class="text-xl md:text-2xl mb-8 max-w-3xl mx-auto leading-relaxed">
          Restez informés de nos dernières actualités, conseils et recettes
        </p>
      </div>
    </Hero>
    <div class="relative px-5 sm:px-10 bg-white py-10">
      <div class="flex flex-col lg:flex-row gap-5 pb-10 max-w-6xl mx-auto">
        <MobileFacebookSection />
        {
          firstArticle && (
            <ArticleCard
              title={firstArticle.data.title}
              date={formatDate(firstArticle.data.date)}
              image={firstArticle.data.image}
              excerpt={firstArticle.data.intro}
              slug={firstArticle.id}
              tags={firstArticle.data.tags}
              is_first={true}
            />
          )
        }
        <FacebookSection />
      </div>
      <!-- Filtres et Articles -->
      <ArticleFilter articles={articles} />
    </div>
  </div>
</Layout>
