---
import MembersCard from "@/components/members/MembersCard.astro";
import { getAllMembers } from "@/lib/sanity-queries";
import { urlFor } from "@/lib/sanity";
import { getTranslations, type Locale } from "@/lib/i18n";
import PresidentImage from "@/assets/president.jpg";
import MapIcon from "@/components/icons/MapIcon.astro";
import MailIcon from "@/components/icons/MailIcon.astro";
import { Image } from "astro:assets";

const membres = await getAllMembers();

const honnorMembers = membres.filter((membre) => membre.isHonored);
const members = membres.filter((membre) => !membre.isHonored);

const currentLocale = (Astro.currentLocale || "fr") as Locale;
const t = getTranslations(currentLocale);

const president = {
  fr: {
    name: "Alain Laporte",
    role: "Président",
    description:
      "Membre fondateur des Disciples d'Escoffier Provence Méditerranée",
  },
  en: {
    name: "Alain Laporte",
    role: "President",
    description: "Founder of the Disciples d'Escoffier Provence Méditerranée",
  },
};
---

<section class="relative px-5 sm:px-10 bg-white py-1">
  <div class="max-w-6xl mx-auto">
    <div class="container mx-auto px-4">
      <h3
        class="text-3xl md:text-4xl font-bold text-center text-primary mt-12 mb-5"
      >
        {t.members.president}
      </h3>
      <hr class="w-24 h-1 bg-primary mx-auto rounded-full mb-12" />
      <div class="flex justify-center gap-x-4 gap-y-16 max-w-6xl mx-auto pb-16">
        <div class="flex flex-col items-center text-center w-full sm:w-80">
          <div class="relative mb-4 shadow-xl rounded-full">
            <div
              class="rounded-full overflow-hidden border-4 w-[150px] h-[150px] border-[#d13429]"
            >
              <Image
                src={PresidentImage}
                alt={president[currentLocale].name}
                class="object-cover w-full h-full"
                width={150}
                height={150}
                loading="lazy"
              />
            </div>
          </div>

          <h4 class="text-lg font-bold text-gray-900 mb-1">
            {president[currentLocale].name}
          </h4>
          <p class="text-sm font-medium mb-2 text-[#d13429]">
            {president[currentLocale].role}
          </p>
          <p class="text-sm text-gray-600 mb-2 line-clamp-2 font-semibold">
            {president[currentLocale].description}
          </p>
          <a
            href={`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent("Form'actions Consulting")}`}
            target="_blank"
            aria-label={`Form'actions Consulting Google Maps`}
            rel="noopener noreferrer"
            class="flex items-center gap-x-2"
          >
            <MapIcon size="16" class="text-red-500" />
            <span class="text-sm hover:text-secondary/80 underline">
              Form'actions Consulting
            </span>
          </a>
          <a
            href={`mailto:alain.laporte@formactions.fr`}
            aria-label={`${t.members.contact} alain.laporte@formactions.fr`}
            class="mt-2 flex items-center gap-x-2"
          >
            <MailIcon size="16" class="text-primary shrink-0" />
            <span
              class="hover:text-secondary/80 hover:underline mt-0.5 text-sm"
            >
              {t.members.contact}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {
    honnorMembers.length > 0 && (
      <div class="max-w-6xl mx-auto">
        <div class="container mx-auto px-4">
          <h3 class="text-3xl md:text-4xl font-bold text-center text-tertiary-accessible mt-12 mb-5">
            {t.members.honoredMembers}
          </h3>
          <hr class="w-24 h-1 bg-tertiary-accessible mx-auto rounded-full mb-12" />
          <div class="flex justify-center">
            <div class="flex flex-wrap justify-center gap-x-4 gap-y-16 max-w-6xl mb-16">
              {honnorMembers.map((membre) => (
                <MembersCard
                  photo={urlFor(membre.image).width(150).height(150).url()}
                  color={membre.color}
                  name={membre.name}
                  role={membre.role[currentLocale]}
                  description={membre.description[currentLocale]}
                  email={membre.email}
                  workplace={membre.workplace}
                  locale={currentLocale}
                />
              ))}
            </div>
          </div>
        </div>
      </div>
    )
  }

  {
    members.length > 0 && (
      <div class="max-w-6xl mx-auto">
        <div class="container mx-auto px-4">
          <h3 class="text-3xl md:text-4xl font-bold text-center text-black mt-12 mb-5">
            {t.members.members}
          </h3>
          <hr class="w-24 h-1 bg-black mx-auto rounded-full mb-12" />
          <div class="flex justify-center">
            <div class="flex flex-wrap justify-center gap-x-4 gap-y-16 max-w-6xl mb-16">
              {members.map((membre) => (
                <MembersCard
                  photo={urlFor(membre.image).width(150).height(150).url()}
                  color={membre.color}
                  name={membre.name}
                  role={membre.role[currentLocale]}
                  description={membre.description[currentLocale]}
                  email={membre.email}
                  workplace={membre.workplace}
                  locale={currentLocale}
                />
              ))}
            </div>
          </div>
        </div>
      </div>
    )
  }
  {
    honnorMembers.length === 0 && members.length === 0 && (
      <div class="max-w-6xl mx-auto">
        <p class="text-center text-lg font-bold pt-12 pb-20">
          {t.members.noMembers}
        </p>
      </div>
    )
  }
</section>
