---
import Navbar from "@/components/navigation/Navbar.astro";
import Footer from "@/components/navigation/Footer.astro";
import "../styles/global.css";
import "../styles/fonts.css";
import { type Locale } from "../lib/i18n";
import { ClientRouter } from "astro:transitions";

const currentLocale = (Astro.currentLocale || "fr") as Locale;
export interface Props {
  title?: string;
  multilingualUrls?: {
    fr: string;
    en: string;
  };
}

const { title, multilingualUrls } = Astro.props;
---

<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="/favicon-primary.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      href="/favicon-white.svg"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Les Disciples d'Escoffier Provence Méditerranée"
    />
    <title>
      {
        title
          ? `${title} - Les Disciples d'Escoffier Provence Méditerranée`
          : "Les Disciples d'Escoffier Provence Méditerranée"
      }
    </title>
    <ClientRouter />
  </head>
  <body class="font-['Museo_Sans']" style="overscroll-behavior: none;">
    <Navbar
      currentPath={Astro.url.pathname}
      multilingualUrls={multilingualUrls}
    />
    <slot />
    <Footer />
  </body>
</html>
